<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2>Por favor, verifique o(s) seguinte(s) campo(s):</h2>
      <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :professor %><br>
    <%= f.select(:professor_id, @professors.collect {|p| [ p.nome, p.id ] }, {:include_blank => 'Selecione um Professor.', :selected => @turma.professor_id}, { class: "span3"}) %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, placeholder: "Nome da turma" , class: "input-xxlarge", required: true  %>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to 'Voltar', turmas_path, :class => "btn" %>
    </div>
<% end %>
