<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2>Por favor, verifique o(s) seguinte(s) campo(s):</h2>
      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, placeholder: "Nome do professor" , class: "input-xxlarge", required: true %>
  </div>
  <div class="field">
    <%= f.label :formacao, "Formação" %><br>
    <%= f.text_field :formacao, placeholder: "formação do professor" , class: "input-xxlarge", required: true %>
  </div>

  <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to 'Voltar', professors_path, :class => "btn" %>
  </div>
<% end %>
